<li>
    <noindex>
        <div class="inner">
            <div class="photo" onmouseover="$(this).find('.company').css('display', 'block');" onmouseout="$(this).find('.company').css('display', 'none')">
                <a href="<%=site_url%>" target="_blank" rel="nofollow"><img alt="" title="" src="<%=image_url%>"></a>
            </div>
            <div class="name"><a href="<%=site_url%>" target="_blank" rel="nofollow"><span style="color:#F58220;"><%=title%></span></a></div>
            <p class="price" style="display: none;">ЦЕНА: <b class="value">от&nbsp;1,9&nbsp;млн.&nbsp;<span class="rubler">P<span>–</span></span></b></p>
            <p><%=info%></p>
        </div>
    </noindex>
</li>